<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
            rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>
        YOUR <br/>
        <span>&nbsp;PERSONALIZED&nbsp;</span><br/>
        COFFEE
    </h1>
    <div class="left_header_section">
        <img class="logo_img" src="/image/revo_logo.svg" alt=""/>
    </div>

    <div class="center_header_section">
        <img class="header_br_img" src="/image/header_br_img.png" alt=""/>
    </div>

    <div class="right_header_section">
        <div class="basket_img_container">
            <img class="basket_img" src="/image/basket.svg" alt=""/>
            <div class="basket_img_circle">
                <p>2</p>
            </div>
        </div>
        <nav>
            <h2>HOME PAGE</h2>
            <ul>
                <li>COFFEE</li>
                <li>COLOR FILTER</li>
                <li>COFFEE COMBO</li>
                <li>GIFTSET</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="base">
        <div class="header_base">
            <p>Your Personalized Coffee</p>
            <h2>COFFEE BUILD YOUR BASE</h2>
        </div>

        <div class="base_card_container">
            <div class="card_base_1">
                <img src="/image/icon_1.svg" alt=""/>
                <div class="text_card_base">
                    <h3>Source</h3>
                    <p>
                        Arabica and Robusta coffee beans meet international standards.
                    </p>
                </div>
            </div>

            <div class="card_base_2">
                <img src="/image/icon_2.svg" alt=""/>
                <div class="text_card_base">
                    <h3>Quality</h3>
                    <p>
                        Each coffee bean is a highly concentrated process of coffee
                        artisans.
                    </p>
                </div>
            </div>

            <div class="card_base_3">
                <img src="/image/icon_3.svg" alt=""/>
                <div class="text_card_base">
                    <h3>Nuts</h3>
                    <p>
                        70% of the quality of a cup of coffee comes from the origin and
                        quality of the green bean.
                    </p>
                </div>
            </div>

            <div class="card_base_4">
                <img src="/image/icon_4.svg" alt=""/>
                <div class="text_card_base">
                    <h3>Bartending</h3>
                    <p>
                        The coffee beans are molted through a thorough and rigorous
                        roasting process.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel_1">
        <div class="header_carousel_1">
            <p>Choose Your Favorite</p>
            <h2>STANDARD GUARANTEE</h2>
        </div>

        <div class="left_decor_line"></div>

        <div class="carousel_1_container">
            <div class="btn_next"><img src="/image/arrow.svg" alt=""></div>
            <div class="btn_previous"><img src="/image/arrow.svg" alt=""></div>
            <div class="column_1_carousel_1">

                <div class="row_1_column_1_carousel_1">
                    <div class="img_carousel_1"><img src="/image/coffee_1_1.png" alt=""></div>
                    <div class="text_card_carousel_1">
                        <p class="price">99.000</p>
                        <p class="name_coffee">REVO Morning</p>
                        <p class="taste">Bitter, sweet aftertaste, floral scent</p>
                        <div class="btn_carousel_1_container">
                            <p class="buy">BUY NOW</p>
                            <p class="detail">DETAIL</p>
                        </div>
                    </div>
                </div>

                <div class="row_1_column_1_carousel_1">
                    <div class="img_carousel_1"><img src="/image/coffee_1_2.png" alt=""></div>
                    <div class="text_card_carousel_1">
                        <p class="price">139.000</p>
                        <p class="name_coffee">REVO Origin</p>
                        <p class="taste">Sweet aftertaste, less bitter, strawberry sour taste</p>
                        <div class="btn_carousel_1_container">
                            <p class="buy">BUY NOW</p>
                            <p class="detail">DETAIL</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="column_2_carousel_1">

                <div class="row_1_column_1_carousel_1">
                    <div class="img_carousel_1"><img src="/image/coffee_2_1.png" alt=""></div>
                    <div class="text_card_carousel_1">
                        <p class="price">85.000</p>
                        <p class="name_coffee">REVO Everyday</p>
                        <p class="taste">Balance, bitter aftertaste, chocolate taste</p>
                        <div class="btn_carousel_1_container">
                            <p class="buy">BUY NOW</p>
                            <p class="detail">DETAIL</p>
                        </div>
                    </div>
                </div>

                <div class="row_1_column_1_carousel_1">
                    <div class="img_carousel_1"><img src="/image/coffee_2_2.png" alt=""></div>
                    <div class="text_card_carousel_1">
                        <p class="price">75.000</p>
                        <p class="name_coffee">REVO Bold</p>
                        <p class="taste">Bold, bitter, traditional</p>
                        <div class="btn_carousel_1_container">
                            <p class="buy">BUY NOW</p>
                            <p class="detail">DETAIL</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="column_3_carousel_1">

                <div class="row_1_column_1_carousel_1">
                    <div class="img_carousel_1"><img src="/image/coffee_3_1.png" alt=""></div>
                    <div class="text_card_carousel_1">
                        <p class="price">195.000</p>
                        <p class="name_coffee">REVO Honey</p>
                        <p class="taste">High sweetness, after sweet, sour apple family</p>
                        <div class="btn_carousel_1_container">
                            <p class="buy">BUY NOW</p>
                            <p class="detail">DETAIL</p>
                        </div>
                    </div>
                </div>

                <div class="row_1_column_1_carousel_1">
                    <div class="img_carousel_1"><img src="/image/coffee_3_2.png" alt=""></div>
                    <div class="text_card_carousel_1">
                        <p class="price">169.000</p>
                        <p class="name_coffee">REVO Natural</p>
                        <p class="taste">Sweet aftertaste, floral scent, strawberry sour taste</p>
                        <div class="btn_carousel_1_container">
                            <p class="buy">BUY NOW</p>
                            <p class="detail">DETAIL</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<script src="/js/scripts.js"></script>
</body>
</html>
