<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create</title>
</head>
<body>
<h3>New product</h3>
<form th:method="POST" th:action="@{create}" th:object="${product}" enctype="multipart/form-data">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="price">Price: </label>
  <input type="number" th:field="*{price}" id="price"/>
  <br/>
  <label for="title">Title: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <br/>
  <label for="description">Description: </label>
  <input type="text" th:field="*{description}" id="description"/>
  <br/>
  Первая фотография: <input type="file" name="file1"/><br><br>
  Вторая фотография: <input type="file" name="file2"/><br><br>
  Третья фотография: <input type="file" name="file3"/><br><br>
  <input type="submit" value="Add product"/>
</form>
</body>
</html>