<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest page</title>
</head>
<body>
<form action="/auth/login">
    <button>Войти</button>
</form>

<form action="/auth/registration">
    <button>Зарегистрироваться</button>
</form>
<section>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Title</th>
        </tr>
        <div th:each="product : ${products}">
            <tr>
                <td>
                    <div th:text="${product.getName()}"></div>
                </td>
                <td>
                    <div th:text="${product.getPrice()}"></div>
                </td>
                <td>
                    <div th:text="${product.getTitle()}"></div>
                </td>
            </tr>
        </div>
    </table>
</section>
</body>
</html>