<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User index</title>
</head>
<body>
<form th:action="@{profile}">
  <input type="submit" value="Profile">
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout"/>
</form>
<br/>
<section>
  <table border="1" cellpadding="8" cellspacing="0">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Title</th>
    </tr>
    <div th:each="product : ${products}">
      <tr>
        <td>
          <div th:text="${product.getName()}"></div>
        </td>
        <td>
          <div th:text="${product.getPrice()}"></div>
        </td>
        <td>
          <div th:text="${product.getTitle()}"></div>
        </td>
      </tr>
    </div>
  </table>
</section>
</body>
</html>